%h2 #{current_user.username.capitalize}'s Dashboard

- if current_user.instance_of? Secretary
  = link_to 'Manage Users', users_path
  %br
  = link_to 'Manage Courses', courses_path
  %br
  - unless Token.all.any?
    = link_to 'Authenticate uCollege Drive Account', '/auth/google_oauth2_drive'

- if current_user.instance_of? Student
  = link_to 'Courses', "courses/student/#{current_user.id}"
  %br
  = link_to 'Books', books_path(current_user)
  %br
  = link_to 'Canteen', "reservations"

- if current_user.instance_of? Canteen
  = link_to 'View menus', menus_path
  %br
  = link_to 'Add menus', new_menu_path
  %br
  = link_to 'List of all menus',  menus_indexAll_path
  %br
  = link_to 'Create questionary', ""
  %br
  = link_to 'View questionaries result', ""
  -#= %h3 'view reservations of the day'
  
%br
= link_to "About  #{current_user.username}", "/new/user/#{current_user.id}"

%br
= link_to 'Log Out', destroy_user_session_path, method: :delete