%h2 Info about #{@notification.title}

%ul#info
  %li
    title:
    = @notification.title
  %li
    status:
    = @notification.status

%h3 notification's description:

%p#description
= @notification.description

%br
  = link_to 'Notifications list', notifications_path
  %br
  = link_to 'Delete Notification', notification_path(@notification), :method => :delete
  %br
  - if @notification.status == "active"
    = link_to 'Change status', change_status_notifications_path(@notification), :method => :post
