%h2 Details about #{@user.username}
%ul#details
  %li
    First Name:
    = @user.first_name
  %li
    Last Name:
    = @user.last_name
  %li
    Username:
    = @user.username
  %li
    Email:
    = @user.email
%br
= link_to "Edit #{@user.username}'s info", edit_user_path(@user)
%br
= link_to "Delete #{@user.username}'s account", user_path(@user), :method => :delete
%br
= link_to 'Back to users list', users_path