%h1= "Menu canteen of day #{Time.now.strftime("%d/%m/%Y %A")}"
= link_to 'Back to users list', authenticated_root_path
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    - Menu.all.where("mealType='lunch'").each do |item|
      %tr
        %td=item.firstCourse
        %td=item.secondCourse
        %td=item.sideDish
        %td=item.notes

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    - Menu.all.where("mealType='dinner'").each do |item|
      %tr
        %td=item.firstCourse
        %td=item.secondCourse
        %td=item.sideDish
        %td=item.notes
%br
= link_to 'Reservation for you', "reservations/new"
= link_to 'Reservation for guests', "reservations/newGuest"
%br
= link_to 'Edit Reservation', "reservations/edit"