%h1= "Menu canteen of  #{Time.now.strftime("%A %d/%m/%Y")}"
= link_to 'Back', authenticated_root_path
%br
- Form.all.where("dateEnd > #{Date.today}").each do |elm|
  = link_to "Questionnaire", form_path(elm.id)
-# Mostro il menu del pranzo
%div
  -# Ottengo i riferimenti ai menu
  - menuLunch=Menu.all.where(mealType: 'lunch', date: Time.now.strftime("%Y/%m/%d")).take
  - menuDinner=Menu.all.where(mealType: 'dinner', date: Time.now.strftime("%Y/%m/%d")).take
  -# Verifico che i menu non sono stati pubblicati
  - if menuLunch.nil? && menuDinner.nil?
    -# Comunico un messaggio
    %h3 Menu non ancora pubblicati
  - else
    %h3 Menu Lunch
    %table#menuLunch
      %thead
        %tr
          %th First Course
          %th Second Course
          %th Side Dish
          %th Note
      %tfoot
        - Menu.all.where(mealType: 'lunch', date: Time.now.strftime("%Y/%m/%d")).each do |item|
          %tr
            %td=item.firstCourse
            %td=item.secondCourse
            %td=item.sideDish
            %td=item.notes
    -# Mostro il menu della cena
    %h3 Menu Dinner
    %table#menuDinner
      %thead
        %tr
          %th First Course
          %th Second Course
          %th Side Dish
          %th Note
      %tfoot
        - Menu.all.where(mealType: 'dinner', date: Time.now.strftime("%Y/%m/%d")).each do |item|
          %tr
            %td=item.firstCourse
            %td=item.secondCourse
            %td=item.sideDish
            %td=item.notes
    -# Mostro i link per effettuare le prenotazioni
    -# Mostro i link per vedere le informazioni delle prenotazioni effettuate
    %div
      %br
      -# Controllo se non è scaduto il tempo per la prenotazione
      - if Time.now.strftime("%d/%m/%Y %H:%M") < Time.now.strftime("%d/%m/%Y")+" 11:00"
        %br
        = link_to 'Reservation for you Lunch', new_menu_reservation_path(menuLunch.id)
        %br
        = link_to 'Reservation for guests Lunch', menu_reservations_newGuest_path(menuLunch.id)
        %br
      -# Controllo se non è scaduto il tempo per la prenotazione
      - if Time.now.strftime("%d/%m/%Y %H:%M") < Time.now.strftime("%d/%m/%Y")+" 18:00"
        %br
        = link_to 'Reservation for you Dinner', new_menu_reservation_path(menuDinner.id)
        %br
        = link_to 'Reservation for guests Dinner', menu_reservations_newGuest_path(menuDinner.id)
        %br
      %br
      - Reservation.all.where(student: current_user.id, menu: menuLunch).each do |item|
        = link_to "Info Reservation of #{item.typeReservation} for Lunch", menu_reservation_path(item.menu_id, item.id)
        %br
      %br
      - Reservation.all.where(student: current_user.id, menu: menuDinner).each do |item|
        = link_to "Info Reservation of #{item.typeReservation} for Dinner", menu_reservation_path(item.menu_id, item.id)
        %br