%h1= "Canteen reservation of #{@menu.date.strftime("%A %d/%m/%Y")}"
-# Comunco messaggi differenti a seconda della tipologia di utente
- if current_user.instance_of? Student
  = link_to 'Back', :back
- if current_user.instance_of? Canteen
  %h1 Make reservations in this way ONLY if the student has a problem with the system
  = link_to 'Back', menu_path(@menu.id)
-# Mostro il menu
%div
  %h2= "Menu #{@menu.mealType.capitalize}"
  %table
    %thead
      %tr
        %th First Course
        %th Second Course
        %th Side Dish
        %th Note
    %tfoot
      %tr
        %td=@menu.firstCourse
        %td=@menu.secondCourse
        %td=@menu.sideDish
        %td=@menu.notes
%div
  %h3= "Reserve for #{@menu.mealType.capitalize}"
  %h3 To accept the menu proposed by the canteen checked only reserve otherwise choose an alternative to the dishes you do not want
  -# Comunco messaggi differenti a seconda della tipologia di utente
  -if current_user.instance_of? Canteen
    %h3 To delete a reservation insert the student's login email address, indicate if you want to delete the student's or guest's reservation, at the end check the "delete" button
    %h3 To add a reservation insert the student's login email address, indicate if the reservation is of the student or of a guest, at the end enter the last number in ascending order of the guest for this student. If something goes wrong change number of the guest.
  = form_for @reservation, url: menu_reservations_path, html: { method: :post } do |f|
    %table
      %tfoot
        %tr
          %td
            -# Modifico leggermente il form secondo la tipologia di utente
            - if current_user.instance_of? Student
              = f.check_box :typeReservation, {}, "student", "none"
              = f.label :Reserve
            - else 
              -if current_user.instance_of? Canteen
                %input{type: "textarea", name: "email", cols: "25", required: true}
                %label Email Student
                = f.radio_button :typeReservation, 'student'
                = f.label :'Reserve for student'
                = f.radio_button :typeReservation, 'guest'
                = f.label :'Reserve for guest of student'
                = f.radio_button :typeReservation, 'none', checked: true
                = f.label :"Nothing"
                %input{type: "number", name: "number", min: "1", max: "10"}
                %label Guest number
                %input{type: "checkbox", name: "delete", value: "yes"}
                %label Delete Reservation
        %tr
          -# Mostro le alternative fisse del menu
          %td
            %h4 Alternatives first course
            = f.radio_button :firstCourseAlternatives, 'Riso in bianco'
            = f.label :'Riso in bianco'
            = f.radio_button :firstCourseAlternatives, 'Riso al sugo di pomodoro'
            = f.label :'Riso al sugo di pomodoro'
            = f.radio_button :firstCourseAlternatives, 'Pasta in bianco'
            = f.label :'Pasta in bianco'
            = f.radio_button :firstCourseAlternatives, 'Pasta al sugo di pomodoro'
            = f.label :'Pasta al sugo di pomodoro'
            = f.radio_button :firstCourseAlternatives, '', checked: true
            = f.label :"Nothing"
        %tr
          %td
            %h4 Alternatives second course
            = f.radio_button :secondCourseAlternatives, "Fettina ai ferri (bovino o pollame)"
            = f.label :"Fettina ai ferri (bovino o pollame)"
            = f.radio_button :secondCourseAlternatives, 'Cordon bleu'
            = f.label :'Cordon bleu'
            = f.radio_button :secondCourseAlternatives, 'Tonno in scatola'
            = f.label :'Tonno in scatola'
            = f.radio_button :secondCourseAlternatives, 'Mozzarella'
            = f.label :'Mozzarella'
            = f.radio_button :secondCourseAlternatives, 'Piatto freddo solo salume'
            = f.label :'Piatto freddo solo salume'
            = f.radio_button :secondCourseAlternatives, 'Piatto freddo salume e fromaggio'
            = f.label :'Piatto freddo salume e fromaggio'
            = f.radio_button :secondCourseAlternatives, "Uova all'occhio di bue"
            = f.label :"Uova all'occhio di bue"
            = f.radio_button :secondCourseAlternatives, '', checked: true
            = f.label :"Nothing"
        %tr
          %td
            %h4 Alternatives side dish
            = f.radio_button :sideDishAlternatives, 'Pomodori'
            = f.label :'Pomodori'
            = f.radio_button :sideDishAlternatives, '', checked: true
            = f.label :"Nothing"
        %tr
          %td
            %h4 Notes
            = f.text_area(:'notes', cols: "50", rows: "2")
        %tr
          %td
            = f.submit "Send Reservation"
            %input{ :type=>"reset", :value=>"Reset", :name=>"reset" }