%h1 Insert links to the google form you want to propose to the students
-# Mostro il Form per inserire il link(embedded) al form
%h3 The start and end date indicate only one day, it is not possible to indicate hours and minutes
%h3 Insert the link to the iframe of the google form created for the questionnaire
%h3 Insert the link to the iframe of the google sheet referring to the created questionnaire
%h3= "To get the iframe from google click on the \"send\" button and then on the \"< >\" icon you will see a url whose first words are <iframe src ..."
= form_for @form, url: forms_path, html: { method: :post } do |f|
  %table
    %tfoot
      %tr
        %td
          = f.label :'Date Start'
          = f.date_field(:dateStart, min: Date.today, required: true)
      %tr
        %td
          = f.label :'Date End'
          = f.date_field(:dateEnd, min: Date.today, required: true)
      %tr
        %td
          = f.label :'Url to embedded google form'
          = f.text_area(:'linkToForm', cols: "150", rows: "2", required: true)
      %tr
        %td
          = f.label :'Url to embedded goole sheet referring to the form'
          = f.text_area(:'linkToResult', cols: "150", rows: "2", required: true)
  =f.submit "Add Questionnaire"
= link_to "Back", authenticated_root_path
