!!! 5
%html
  %head
    %title UCollege
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon
    = javascript_include_tag 'application'
    = yield :head

  %body
    -if flash[:notice]
      = flash[:notice]
    -elsif flash[:warning]
      = flash[:warning]
    = yield